section.mission
  .container
    .mission__wrapper
      img(src="images/mission/mission.png", alt="pic")
      .mission__box
        p.mission__title Our mission is to deliver aesthetic visual for your home
        p.mission__desc By applying bacis psychology principles, we re going to explain how perception works and how we can use this understanding to maximise the space that we occupy in our homes.