include /src/common/components/layout

+layout('Home page')
  include title/title
  include video/video
  include mission/mission
  include project/project
  include testimonial/testimonial
  include review/review
  include contact/contact
