section.testimonial
  .container
    .testimonial__wrapper
      p.testimonial__title Testimonial
      .testimonial__row
        img(src="images/testimonial/logo1.png", alt="logo")
        img(src="images/testimonial/logo2.png", alt="logo")
        img(src="images/testimonial/logo3.png", alt="logo")
        img(src="images/testimonial/logo4.png", alt="logo")