section.review
  .container
    .review__wrapper
      img(src="images/review/pic.png", alt="pic")
      .review__box
        .review__row
          .review__column
            p.review__numbers 105
            p.review__notice project done
          .review__column
            p.review__numbers 12
            p.review__notice years of experience
          .review__column
            p.review__numbers 10+
            p.review__notice big company partnership
        p.review__text 
          span "Not able to tell you how happy I am with interior design. Interior design has completely surpassed our expectations. Interior design saved my business. Interior design is worth much more than I paid."
        p.review__name - Roscoe