.review {
  padding-top: 160px;

  &__wrapper {
    display: flex;
  }

  &__box {
    padding: 135px 51px 135px 119px;
    background: #CCF0E6;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__numbers {
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 105px;
    color: #58A9A5;
  }

  &__notice {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #58A9A5;
  }

  &__text {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    color: #486958;
    margin-top: 123px;
    max-width: 752px;
  }
  &__name {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    color: #58A9A5;
    margin-top: 123px;
    max-width: 752px

  }
}

.review__text {
  position: relative;

  span {
    position: relative;
    z-index: 2;
  }

  &::before {
    content: url('../images/review/quotes.png');
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}