section.project
  .container
    .project__wrapper
      p.project__title Our project
      p.project__desc Introducing our first official project
      hr
      hr
      .project__box
        .project__item
          p.project__paragraph Project Livingroom
          p.project__text A simple guide to create the perfect livingro-om for . Night Watc works beautifully in a wi-de gamut of arrangements.
          img(src="images/project/livingroom.png", alt="")
        .project__item
          img(src="images/project/workspace.png", alt="")
          p.project__paragraph Project Workspace
          p.project__text A simple guide to create the perfect livingro-om for . Night Watc works beautifully in a wi-de gamut of arrangements.
        .project__item
          p.project__paragraph Project Library
          p.project__text A simple guide to create the perfect livingro-om for . Night Watc works beautifully in a wi-de gamut of arrangements.
          img(src="images/project/library.png", alt="")
