section.contact
  .container
    .contact__wrapper
      .contact__box
        .contact__title Contact Us
        .contact__text Have any questions? Want help before getting started?
        hr
        hr
      .contact__field
        input.contact__input(type="text" placeholder="Full name")
        hr.contact__line
        input.contact__input(type="text" placeholder="Email address")
        hr.contact__line
        input.contact__input(type="text" placeholder="Description")
        button.contact__btn Send now