section.title#home
  .container
    .title__wrapper
      .title__box
        p.title__text Get the inspiration of interior design here
        p.title__desc architecture not only about engineering, it even lands to art and aesthetics. With us, you will get a residentical design with an extraordinary touch of art.
        button.title__btn Let’s go
      .title__item
        img.title__imgBack(src="images/title/titleImgBack.png", alt="titleImg")
        img.title__imgMain(src="images/title/titleImgMain.png", alt="titleImg")