section.video
  .container
    .video__wrapper
      p.video__title How it works
      p.video__desc Spice up your space even simpler than you think
      .video__row
        img(src="images/video/video__pic.png", alt="pic")
        .video__block
          p.video__paragraph We provide design and build for commercial building, interior and furniture to improve the better life.
          a.video__click
            img.video__btn(src="images/video/video__play.svg", alt="")
            p.video__desc S E E  V I D E O